.login {
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.loginForm {
	justify-self: center;
	margin-top: 3rem;
}

.loginForm > h2 {
	font-size: 4rem;
	font-weight: 400;
	color: var(--text-1);
}

.loginForm > h3 {
	font-weight: 500;
	font-size: 1.4rem;
	color: var(--text-2);
}

.inputContainer {
	display: grid;
	place-items: center;
	justify-items: flex-start;
	grid-template-columns: 1fr 1fr;
}


