
html {
	color-scheme: light;
	--link: var(--indigo-7);
  	--link-visited: var(--grape-7);

  	--text-1: var(--gray-9);
  	--text-2: var(--gray-7);

  	--surface-1: var(--gray-0);
  	--surface-2: var(--gray-2);
  	--surface-3: var(--gray-3);
  	--surface-4: var(--gray-4);

	--bg-gradient: var(--gradient-2);
	--title: var(--surface-4);

	--primary-color: var(--blue-1);
	--error-border: var(--red-1);
	
}

html a{
	color: var(--primary-color);
	font-size: 1.4rem;
	text-decoration: none;
}


html.dark{
	color-scheme: dark;
	--link: var(--indigo-3);
	--error-border: var(--red-1);
	--link-visited: var(--grape-3);
	
	--text-1: var(--gray-1);
	--text-2: var(--gray-4);
	
	--surface-1: var(--gray-9);
	--surface-2: var(--gray-8);
	--surface-3: var(--gray-7);
	--surface-4: var(--gray-6);
	
	--bg-gradient: var(--gradient-1);
	
	--title: var(--gray-1);
	--primary-color: var(--violet-1);
}

body {
	padding: 0;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;

}
html,
body >div
{
	padding: 0;
	font-size: 10px;
	margin:0;
}

.container {
	display: flex;
	height: 100vh;
	width: 100vw;
	flex-direction: column;
}

/* colors  */
:where(html){
	--blue-1: #72C6EF;
	/*  */
	--red-1:#e03131;
	/*  */
	--indigo-1: #dbe4ff;
	--indigo-2: #bac8ff;
	--indigo-3: #91a7ff;
	--indigo-7: #4263eb;
	/*  */
	--violet-1:#8300e2;
	/*  */
	--grape-3: #e599f7;
	--grape-7: #ae3ec9;
	/*  */
	--gray-0: #f8f9fa;
	--gray-1: #f1f3f5;
	--gray-2: #e9ecef;
	--gray-3: #dee2e6;
	--gray-4: #ced4da;
	--gray-5: #adb5bd;
	--gray-6: #868e96;
	--gray-7: #495057;
	--gray-8: #343a40;
	--gray-9: #212529;

	--gradient-1: linear-gradient(to bottom right,#48005c, #8300e2, #a269ff);
	--gradient-2:linear-gradient(to bottom left, #72C6EF, #004E8F)

}

.flexCol {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.flexRow{
	display:flex;
	justify-content: space-between;
	align-items: center;
}

.text-align-right{
	text-align: right;
}

.mt-10 {
	margin-top: 1rem;
}

.Toastify__toast-container {
	font-size: 1.4rem;
}